// Fuentes
$fuentePrincipal: 'Roboto',sans-serif;
$fuenteSecundaria: 'Roboto',sans-serif;
$fuenteCursiva:'Bona Nova',serif;

//Media Queries
$telefono: 517px;
$tablet: 960px;
$desktop: 1024px;



//colores

$primario: #5E311E;
$secundario: #C39C63;
$negro: #000000;
$blanco:#FFFFFF;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;

//unidades

$separacion: 5rem;