.dashboard_container{
    width: 90%;
    max-width: 110rem;
    margin: 5rem auto;
}

.dashboard_grid{
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.dashboard_products{
    border-left: .1rem solid #ededed;
}

.dashboard_container_products{
    margin-left: 3rem;
    border-top: .1rem solid #ededed;
    padding-top: 3rem;
}

.dashboard_products_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 2rem;
}

.dashboard_filter{
    padding-right: 3rem;
}