@use '../../../base/mixins' as m;
@use '../../../base/variables' as v;

.card_hamper_container{
    border: .1rem solid #ededed;
}


.card_hamper_image{
    height: 22rem;
    

    img{
        object-fit: cover;
        height: 100%;
        margin: 0 auto;
        
   
    }

    @include m.phone { 
        height: auto;
        img{

            width: 100%;
            height: auto;
        }
     }
}

.card_hamper_flex{
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;

    .card_hamper_name{
        h2{
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 1.8rem;
            margin: 0;
        }
    }

    .card_hamper_description{
        margin-bottom: 2rem;
        h3{
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 1.5rem;
            margin: 0;
        }
    }

}