@use '../../base/variables' as v;


.card_grid{
    display: flex;
    flex-direction: column;

    
}

.information_grid{
    padding: 1.5rem;
    .categories{
        
    }

    .price{
        padding-top: 2.1rem;
        h3{
            font-style:normal;
            font-weight: 400;
            color: #009288;
        }
    }

    h3{
        font-family: v.$fuentePrincipal;
        font-size: 1.7rem;
        font-style: italic;
        font-weight: 100;
    }
}

.image_container{
    width: 22rem;
    height: 22rem;

    img{
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
        
   
    }
}