@use '../../base/variables' as v;
@use '../../base/mixins' as m;


.card_grid{
    display: flex;
    flex-direction: column;

    
}

.information_grid{
    padding: 1.5rem;
    .categories{
        color: #009288;
    }

    .price{
        padding-top: 2.1rem;
        h3{
            font-style:normal;
            font-weight: 400;
            color: #009288;
        }
    }

    h3{
        font-family: v.$fuentePrincipal;
        font-size: 1.7rem;
        font-style: italic;
        font-weight: 100;
    }
}

.image_container{
  
    height: 22rem;

    img{
        object-fit: cover;
        height: 100%;
        margin: 0 auto;
        
   
    }
    @include m.phone { 
        height: auto;
        img{

            width: 100%;
            height: auto;
        }
     }
}