

.hamper_container{
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h2{
        text-align: start;
        margin-bottom: 2rem;
    }
}